@model IEnumerable<ZavrsnaAplikacija.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2 class="my-2">Cars</h2>

<table id="cars" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
        </tr>
    </thead>
    <tbody class="table-light"></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#cars").DataTable({
                ajax: {
                    //url: "/api/genres",
                    //dataSrc: ""

                    url: "/Cars/GetCars",
                    "type": "GET",
                    "datatype": "json"
                },
                columns: [
                    {
                        data: "Manufacturer"
                    },
                    {
                        data: "Model"
                    },
                    {
                        data: "LicensePlate"
                    },
                    {
                        data: "Year"
                    },
                    {
                        data: "Available"
                    },
                ]
            })
        })
    </script>
}


